*{
  margin: opx;
  padding: opx;

}

nav{
  background-color: aliceblue;
  text-align: center;
  display:block;
  color: white;
  padding: 20px ,20px;


}
.todo {
  margin: 10px;
  width: 300px;
  height: 100px;
  padding: 20px, 20px;
  background-color: blue;

}
.todo:hover {
  border: 2px solid yellow;
  height: 120px;
  width: 310;
  background-color: blue;
  color: #55488d;
  

}
main{
  display : flex;
  flex-direction: colum;
  justify-content:center;
  align-items:center;
  width:100vw;
}



